<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Current Status</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"/>
    <link  rel="stylesheet"
           href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body>
<div class="container-fluid bg-primary">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-8">
            <div class="row">
                <h1 class="display-4 text-center"> </h1>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4 text-center" style="font-weight: bold;font-size: 200%" th:text="${address}"></h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4 text-center" style="font-size: 200%" th:text="${time}"></h1>
                </div>
            </div>
        </div>
        <div class="col" th:align="center">
            <a th:href="mapView" class="material-icons" style="font-size:450%;color:white;">place</a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col" th:align="center">
            <i class="material-icons" style="font-size:3000%;">mood</i>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col" th:align="center">
            <h1 class="display-2 text-center" style="font-weight: bold;font-size: 450%;">좋  음</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row align-items-center">
        <div class="col-1"></div>
        <div class="col" th:align="center">
            <h1 class="diaplay-4 text-center" style="font-size: 200%;">나들이를 떠나보시는건 어때요~?</h1>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <h1 class="display-4"> </h1>
    </div>
    <div class="row align-items-center" style="background: darkblue;">
        <div class="col">
            <h1 class="display-4" style="font-size: 200%;font-weight:bold;">예 보</h1>
        </div>
    </div>
    <div class="row">
        <h1 class="display-4"> </h1>
    </div>
    <div class="row align-items-center">
        <div class="col-2">
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <i class="material-icons" style="font-size: 600%;">mood</i>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4" style="font-size: 200%;">14:00</h1>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <i class="material-icons" style="font-size: 600%;">mood</i>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4" style="font-size: 200%;">15:00</h1>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <i class="material-icons" style="font-size: 600%;">mood</i>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4" style="font-size: 200%;">16:00</h1>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <i class="material-icons" style="font-size: 600%;">mood</i>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4" style="font-size: 200%;">17:00</h1>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <i class="material-icons" style="font-size: 600%;">mood</i>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4" style="font-size: 200%;">18:00</h1>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <i class="material-icons" style="font-size: 600%;">mood</i>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col" th:align="center">
                    <h1 class="display-4" style="font-size: 200%;">19:00</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="display-4"> </h1>
    </div>
</div>
</body>
</html>