<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Database Monitoring Page</title>
    <style>
        table{
            width : 100%;
        }
        table, th, td {
            border: 1px solid #bcbcbc;
        }
    </style>
</head>
<body>
<table id="userTable" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>No</th>
        <th>Type</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
        <td th:text="${question.id}">No.</td>
        <td th:text="${question.classType}">Type</td>
        <td th:text="${question.text}">Text</td>
    </tr>
    </tbody>
</table>

</body>
</html>