<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>Heat Map</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=eNueqceuff0oFPhe5uZD&amp;submodules=geocoder,visualization"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div id="wrap" class="section">
    <div id="map" style="width:90%;height:600px;"></div>
</div>
<script>
    var HOME_PATH = window.HOME_PATH || '.';
    var mapDiv = document.getElementById('map');
    var map = new naver.maps.Map(mapDiv, {
        zoom: 3,
        center: new naver.maps.LatLng(36.0207091, 127.9204629)
    });

    var heatmap = new naver.maps.visualization.HeatMap({
        map: map,
        data: [ new naver.maps.LatLng(37.75,125.4),
            new naver.maps.LatLng(35.42,128.56),
            new naver.maps.LatLng(35.57,128.34),
            new naver.maps.LatLng(36.30,125.9),
            new naver.maps.LatLng(35.80,128.2),
            new naver.maps.LatLng(38.70,127.9)]
    });
</script>
</body>
</html>